@import "tailwindcss";


.root{
  font-family: sans-serif;
}
body{
  background-color: #171717;
}
.custom-scrollbar::-webkit-scrollbar {
    display: none; /* Hides scrollbar in WebKit browsers */
}
.custom-scrollbar {
scrollbar-width: none; /* Hides scrollbar in Firefox */
}
  
@keyframes shimmer {
    0% { background-position: -200px 0; }
    100% { background-position: 200px 0; }
  }
  
  .animate-shimmer {
    background: linear-gradient(90deg, #ABB3C6 25%, #D3D8E1 50%, #ABB3C6 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  .animate-fadeIn {
    animation: fadeIn 1s ease-in-out;
  }

  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-marquee {
    animation: marquee 30s linear infinite;
    display: inline-block;
    white-space: nowrap;
  }